USE [Bdfinal]
GO
/****** Object:  Table [dbo].[estudiantes]    Script Date: 6/12/2024 10:28:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiantes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[codigo] [nvarchar](50) NULL,
	[cedula] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[estudiantes] ON 

INSERT [dbo].[estudiantes] ([id], [username], [codigo], [cedula]) VALUES (1, N'luisito comunica', N'12', N'12345')
INSERT [dbo].[estudiantes] ([id], [username], [codigo], [cedula]) VALUES (3, N'carlos', N'43565', N'2134123')
INSERT [dbo].[estudiantes] ([id], [username], [codigo], [cedula]) VALUES (5, N'jose', N'4949', N'7676')
SET IDENTITY_INSERT [dbo].[estudiantes] OFF
GO
