<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<body>
  <h2>Este es el titulo de la parte 1</h2>
  <p class="parrafo-1">
    Angular (comúnmente llamado Angular 2+ o Angular 2) es un framework para aplicaciones web desarrollado en TypeScript, 
    de código abierto, mantenido por Google, 
    que se utiliza para crear y mantener aplicaciones web de una sola página. 
    Su objetivo es aumentar las aplicaciones basadas en navegador con capacidad de Modelo Vista Controlador (MVC), 
    en un esfuerzo para hacer que el desarrollo y las pruebas sean más fáciles.
  </p><br>
  <p class="parrafo-2">
    Angular es la evolución de AngularJS aunque incompatible con su predecesor.
  </p><br>
  <ul>
    <li class="links">
      https://veronepiece.xyz/v/one-piece-episode-715x8-sub-esp
    </li>
    <li class="links">
      https://fonts.google.com/selection/embed
    </li>
    <li class="links">
      https://www.youtube.com/watch?v=dQw4w9WgXcQ
    </li>
  </ul>
  <table>
    <tr class="encabezado">
      <th>
        Productos
      </th>
      <th>
        Existencias
      </th>
      <th>
        Valor
      </th>
    </tr>
    <tr class="fila-1-3">
      <td>
        Iphone
      </td>
      <td>
        10
      </td>
      <td>
        $ 2.000.000
      </td>
    </tr>
    <tr class="fila-2">
      <td>
        Mouse
      </td>
      <td>
        100
      </td>
      <td>
        $ 50.000
      </td>
    </tr>
    <tr class="fila-1-3">
      <td>
        PC Gamer
      </td>
      <td>
        2
      </td>
      <td>
        $ 3.000.000
      </td>
    </tr>
  </table>
</body>
</html>